In [1]:
from warnings import filterwarnings
filterwarnings('ignore')

In [2]:
import matplotlib.pyplot as plt 
import seaborn as sns 
import pandas as pd
import numpy as np 

%matplotlib inline

In [3]:
df = pd.read_csv('Algerian_forest_fire_cleaned_dataset')

In [4]:
df.head()

,day,month,year,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,1,6,2012,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0.0
1,2,6,2012,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0.0
2,3,6,2012,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0.0
3,4,6,2012,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0.0
4,5,6,2012,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0.0

In [5]:
df.shape

(243, 15)

In [6]:
df.columns

Index(['day', 'month', 'year', 'Temperature', 'RH', 'Ws', 'Rain', 'FFMC',
       'DMC', 'DC', 'ISI', 'BUI', 'FWI', 'Classes', 'Region'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243 entries, 0 to 242
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   day          243 non-null    int64
 1   month        243 non-null    int64
 2   year         243 non-null    int64
 3   Temperature  243 non-null    int64
 4   RH           243 non-null    int64
 5   Ws           243 non-null    int64
 6   Rain         243 non-null    float64
 7   FFMC         243 non-null    float64
 8   DMC          243 non-null    float64
 9   DC           243 non-null    float64
 10  ISI          243 non-null    float64
 11  BUI          243 non-null    float64
 12  FWI          243 non-null    float64
 13  Classes      243 non-null    object
 14  Region       243 non-null    float64
dtypes: float64(8), int64(6), object(1)
memory usage: 28.6+ KB

In [8]:
df = df.drop(['day', 'month', 'year'],axis=1)

In [9]:
df.head()

,Temperature,RH,Ws,Rain,FFMC,DMC,DC,ISI,BUI,FWI,Classes,Region
0,29,57,18,0.0,65.7,3.4,7.6,1.3,3.4,0.5,not fire,0.0
1,29,61,13,1.3,64.4,4.1,7.6,1.0,3.9,0.4,not fire,0.0
2,26,82,22,13.1,47.1,2.5,7.1,0.3,2.7,0.1,not fire,0.0
3,25,89,13,2.5,28.6,1.3,6.9,0.0,1.7,0.0,not fire,0.0
4,27,77,16,0.0,64.8,3.0,14.2,1.2,3.9,0.5,not fire,0.0

## Treating the Calsses Column

In [10]:
df['Classes'].value_counts()

Classes
fire             131
not fire         101
fire               4
fire               2
not fire           2
not fire           1
not fire           1
not fire           1
Name: count, dtype: int64

In [11]:
df['Classes'] = np.where(df['Classes'].str.contains('not fire'),0,1)

In [12]:
df['Classes'].value_counts()

Classes
1    137
0    106
Name: count, dtype: int64

In [13]:
df.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  FWI  Classes  Region
0           29  57  18   0.0  65.7  3.4   7.6  1.3  3.4  0.5        0     0.0
1           29  61  13   1.3  64.4  4.1   7.6  1.0  3.9  0.4        0     0.0
2           26  82  22  13.1  47.1  2.5   7.1  0.3  2.7  0.1        0     0.0
3           25  89  13   2.5  28.6  1.3   6.9  0.0  1.7  0.0        0     0.0
4           27  77  16   0.0  64.8  3.0  14.2  1.2  3.9  0.5        0     0.0

## Seperating the Independent(X) and Dependent(Y)

In [14]:
X = df.drop(['FWI'],axis=1)

y = df['FWI']

In [15]:
X.head()

   Temperature  RH  Ws  Rain  FFMC  DMC    DC  ISI  BUI  Classes  Region
0           29  57  18   0.0  65.7  3.4   7.6  1.3  3.4        0     0.0
1           29  61  13   1.3  64.4  4.1   7.6  1.0  3.9        0     0.0
2           26  82  22  13.1  47.1  2.5   7.1  0.3  2.7        0     0.0
3           25  89  13   2.5  28.6  1.3   6.9  0.0  1.7        0     0.0
4           27  77  16   0.0  64.8  3.0  14.2  1.2  3.9        0     0.0

In [16]:
y.head()

0    0.5
1    0.4
2    0.1
3    0.0
4    0.5
Name: FWI, dtype: float64

## Perfoming The Train Test Split

In [17]:
from sklearn.model_selection import train_test_split

X_train, X_test, ytrain, ytest = train_test_split(X,y, test_size=0.20, random_state=42)

In [18]:
X_train.shape, X_test.shape

((194, 11), (49, 11))

In [19]:
ytrain.shape, ytest.shape

((194,), (49,))

## Perfoming Scaling On X Test And X Train

In [20]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [21]:
scaled_Xtrain = scaler.fit_transform(X_train)

In [22]:
scaled_Xtest = scaler.transform(X_test)

<h1 align=center> Models Traning </H1>

-----------

=================================================================================================================================

## Linear Regression

In [23]:
from sklearn.linear_model import LinearRegression

linear_model  = LinearRegression()
linear_model.fit(scaled_Xtrain,ytrain)
ypred_lr = linear_model.predict(scaled_Xtest)

In [24]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

lr_mae = mean_absolute_error(ypred_lr,ytest)
linear_result = r2_score(ypred_lr,ytest)
print(f"Mean Absolute Error : {lr_mae}\n")
print("===================================================\n")
print(f"R2 Score : {linear_result}")

Mean Absolute Error : 0.4267520614689843

===================================================

R2 Score : 0.988427303217471

=================================================================================================================================

## Ridege Regression

In [25]:
from sklearn.linear_model import Ridge

ridge_model = Ridge()
ridge_model.fit(scaled_Xtrain,ytrain)
ypred_rr = ridge_model.predict(scaled_Xtest)

In [26]:
from sklearn.metrics import mean_absolute_error, r2_score

rr_mae = mean_absolute_error(ypred_rr,ytest)
ridge_result = r2_score(ypred_rr,ytest)
print(f"Mean Absolute Error : {rr_mae}\n")
print("=============================================\n")
print(f"R2 Score : {ridge_result}")

Mean Absolute Error : 0.46348598120274564

=============================================

R2 Score : 0.9837011757877726

=================================================================================================================================

## Lasso Regression

In [27]:
from sklearn.linear_model import Lasso

lasso_model = Lasso()
lasso_model.fit(scaled_Xtrain,ytrain)
ypred_lasr = lasso_model.predict(scaled_Xtest)

In [28]:
from sklearn.metrics import mean_absolute_error, r2_score

lasso_mae = mean_absolute_error(ypred_lasr,ytest)
lasso_result = r2_score(ypred_lasr,ytest)
print(f"Mean Absolute Error : {lasso_mae}\n")
print("=============================================\n")
print(f"R2 Score : {lasso_result}")

Mean Absolute Error : 0.9552746314709515

=============================================

R2 Score : 0.9355341820447387

=================================================================================================================================

## ElasticNet Regression

In [29]:
from sklearn.linear_model import ElasticNet

elr_model = ElasticNet()
elr_model.fit(scaled_Xtrain,ytrain)
ypred_elr = elr_model.predict(scaled_Xtest)

In [30]:
from sklearn.metrics import mean_absolute_error,r2_score

mae_elr = mean_absolute_error(ypred_elr,ytest)
elr_result = r2_score(ypred_elr,ytest)
print(f"Mean Absolute Error : {mae_elr}\n")
print("=============================================\n")
print(f"R2 Score : {elr_result}")

Mean Absolute Error : 1.5279150847018705

=============================================

R2 Score : 0.833836241293994