In [1]:
import pandas as pd 
import numpy as np

In [2]:
col = pd.read_csv('./data/columnsnames.txt',sep=',',header=None).squeeze().tolist()

In [3]:
df = pd.read_csv('./data/machine.data',sep=',',header=None,names=col)

In [4]:
df.head()

  vendor name Model Name  MYCT  MMIN   MMAX  CACH  CHMIN  CHMAX  PRP  ERP
0     adviser      32/60   125   256   6000   256     16    128  198  199
1      amdahl     470v/7    29  8000  32000    32      8     32  269  253
2      amdahl    470v/7a    29  8000  32000    32      8     32  220  253
3      amdahl    470v/7b    29  8000  32000    32      8     32  172  253
4      amdahl    470v/7c    29  8000  16000    32      8     16  132  132

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209 entries, 0 to 208
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   vendor name  209 non-null    object
 1   Model Name   209 non-null    object
 2   MYCT         209 non-null    int64
 3   MMIN         209 non-null    int64
 4   MMAX         209 non-null    int64
 5   CACH         209 non-null    int64
 6   CHMIN        209 non-null    int64
 7   CHMAX        209 non-null    int64
 8   PRP          209 non-null    int64
 9   ERP          209 non-null    int64
dtypes: int64(8), object(2)
memory usage: 16.5+ KB

In [6]:
#df.to_csv('./data/Computer_Hardware.csv',index=False)

In [7]:
df.shape

(209, 10)

In [8]:
df.drop('Model Name',axis=1,inplace=True)

In [9]:
df['vendor name'].unique()

array(['adviser', 'amdahl', 'apollo', 'basf', 'bti', 'burroughs', 'c.r.d',
       'cdc', 'cambex', 'dec', 'dg', 'formation', 'four-phase', 'gould',
       'hp', 'harris', 'honeywell', 'ibm', 'ipl', 'magnuson', 'microdata',
       'nas', 'ncr', 'nixdorf', 'perkin-elmer', 'prime', 'siemens',
       'sperry', 'sratus', 'wang'], dtype=object)

In [10]:
from sklearn.preprocessing import OneHotEncoder

ohe = OneHotEncoder()

In [11]:
ohe_data = ohe.fit_transform(df[['vendor name']])

In [12]:
final_df = pd.DataFrame(ohe_data.toarray(),columns=ohe.get_feature_names_out())

In [13]:
final_df.head()

,vendor name_adviser,vendor name_amdahl,vendor name_apollo,vendor name_basf,vendor name_bti,vendor name_burroughs,vendor name_c.r.d,vendor name_cambex,vendor name_cdc,vendor name_dec,...,vendor name_microdata,vendor name_nas,vendor name_ncr,vendor name_nixdorf,vendor name_perkin-elmer,vendor name_prime,vendor name_siemens,vendor name_sperry,vendor name_sratus,vendor name_wang
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
df.drop('vendor name',axis=1,inplace=True)

In [15]:
df = pd.concat([final_df,df],axis=1)

In [16]:
df.head()

,vendor name_adviser,vendor name_amdahl,vendor name_apollo,vendor name_basf,vendor name_bti,vendor name_burroughs,vendor name_c.r.d,vendor name_cambex,vendor name_cdc,vendor name_dec,...,vendor name_sratus,vendor name_wang,MYCT,MMIN,MMAX,CACH,CHMIN,CHMAX,PRP,ERP
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,125,256,6000,256,16,128,198,199
1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,29,8000,32000,32,8,32,269,253
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,29,8000,32000,32,8,32,220,253
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,29,8000,32000,32,8,32,172,253
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,29,8000,16000,32,8,16,132,132

In [17]:
df.columns

Index(['vendor name_adviser', 'vendor name_amdahl', 'vendor name_apollo',
       'vendor name_basf', 'vendor name_bti', 'vendor name_burroughs',
       'vendor name_c.r.d', 'vendor name_cambex', 'vendor name_cdc',
       'vendor name_dec', 'vendor name_dg', 'vendor name_formation',
       'vendor name_four-phase', 'vendor name_gould', 'vendor name_harris',
       'vendor name_honeywell', 'vendor name_hp', 'vendor name_ibm',
       'vendor name_ipl', 'vendor name_magnuson', 'vendor name_microdata',
       'vendor name_nas', 'vendor name_ncr', 'vendor name_nixdorf',
       'vendor name_perkin-elmer', 'vendor name_prime', 'vendor name_siemens',
       'vendor name_sperry', 'vendor name_sratus', 'vendor name_wang', 'MYCT',
       'MMIN', 'MMAX', 'CACH', 'CHMIN', 'CHMAX', 'PRP', 'ERP'],
      dtype='object')

In [18]:
X = df.drop('ERP',axis=1)
y = df['ERP']

# Perfom Train Test Split

In [19]:
from sklearn.model_selection import train_test_split

Xtrain,Xtest,ytrain,ytest = train_test_split(X,y, test_size=0.20, random_state=32)

In [20]:
Xtrain.shape, Xtest.shape

((167, 37), (42, 37))

In [22]:
ytrain.shape, ytest.shape

((167,), (42,))

## Perfoming The Standard Scaler

In [29]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()

In [30]:
scaled_data = scaler.fit_transform(Xtrain)

In [31]:
scaled_xtrain = pd.DataFrame(scaled_data,columns=scaler.get_feature_names_out())

In [32]:
scaled_data = scaler.transform(Xtest)

In [33]:
scaled_xtest = pd.DataFrame(scaled_data,columns=scaler.get_feature_names_out())

# Train the Model

In [34]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [35]:
model.fit(Xtrain,ytrain)

LinearRegression()

In [27]:
ypred = model.predict(Xtest)

In [28]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

print(f"Mean Squared Error: {mean_squared_error(ypred,ytest)}")
print(f"Mean Absolute Error: {mean_absolute_error(ypred,ytest)}")
print(f"R2 Score: {r2_score(ypred,ytest)}")

Mean Squared Error: 862.9796510571481
Mean Absolute Error: 21.178161726187085
R2 Score: 0.9452935735157885

In [36]:
lr = LinearRegression()

In [37]:
lr.fit(scaled_xtrain,ytrain)

LinearRegression()

In [40]:
y_pred = lr.predict(scaled_xtest)

In [41]:
from sklearn.metrics import mean_absolute_error,mean_squared_error,r2_score

print(f"Mean Squared Error: {mean_squared_error(y_pred,ytest)}")
print(f"Mean Absolute Error: {mean_absolute_error(y_pred,ytest)}")
print(f"R2 Score: {r2_score(y_pred,ytest)}")

Mean Squared Error: 862.5205453488105
Mean Absolute Error: 21.16782888410413
R2 Score: 0.9453240607425096